img.no-border {
    border: 0 !important;
    box-shadow: none !important;
}

img.no-background {
  background: none !important;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.author ul li {
  list-style: none;
  font-size: 0.8em;
  padding-bottom: 0.4em;
}
