img.no-border {
    border: 0 !important;
    box-shadow: none !important;
}

img.no-background {
  background: none !important;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.author ul li {
  list-style: none;
  font-size: 0.8em;
  padding-bottom: 0.4em;
}

a.with-url:after {
  content: attr(href);
  font-size: .6em;
  margin-left: 10px;
  padding: 4px 10px;
  border-radius: 4px;
  transition-property: background-color, color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

a.with-url:hover:after {
  color: white;
  background-color: #dd5566;
}

/* fix code overflow */

.reveal pre {
  width: auto;
}

.reveal pre code {
  max-height: none;
}
